body
{
	background-color:white;
}
p1 
{
	text-align: center;
	font-size:15pt;
	color:black;
	font-family: Georgia;
}
p 
{
	text-align: justify-center;
	font-size: 13pt;
	color: black;
	font-family: Georgia;
}
	
	